

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #1C2B2B;
  background-color: #FCFDFC;
}

h1 {
  color: #064E4F;
}

h2 {
  color: #064E4F;
}



#site-name {
  font-size: 32px;
  font-weight: bold;
}

#tagline {
  color: #5F7171;
  font-style: italic;
}

.price {
  font-weight: bold;
  color: #B86B00;
}

header a {
  color: #064E4F;
  text-decoration: none;
}

nav > ul > li > a {
  color: #0067AC;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

a.current {
  font-weight: bold;
}


h1 {
  font-size: 40px;
  text-transform: uppercase;
}

footer {
  color: #FCFDFC;
  background-color: #064E4F;
  font-size: 14px;
}

